@import "bootstrap/scss/bootstrap";

@import "profileIMG";
@import "dropzone";

#App {
    background-color: #E8F5E9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#google-map {
    width: 400px;
    height: 400px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;

}

.carousel {
    display: flex;
    justify-content: center;
    width: 550px;
    height: 550px;
}

.carouselImg {
    object-fit: cover;
    border-radius: 15px;
    
}

.noImgAvailable {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}

.navbar {
    background-color: #2E7D32;
}
.navbar a {
    color: #fff;
}

.navbar a:hover {
    color: #A5D6A7;
}
	
